@model Gestion_Prestamos.Models.Prestamo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadesPrestadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadesPrestadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamoCreadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamoCreadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamoCreadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamoCreadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamoModificadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamoModificadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPrestamoModificadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPrestamoModificadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucionCreadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucionCreadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucionCreadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucionCreadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucionModificadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucionModificadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDevolucionModificadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDevolucionModificadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntregaCreadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntregaCreadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntregaCreadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntregaCreadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntregaModificadoPor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntregaModificadoPor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntregaModificadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntregaModificadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elemento.ElementoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PrestamoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
